

body {
	background-color: #2980b9;
	font-family: Georgia, serif, sans-serif;
}

table {
	width: 100%;
	height: 100%;
}

th,
td {
	padding: 15px;
}

p {
	text-align: justify;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}

img {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	width: 100%;
	height: auto;
}

img:hover {
	box-shadow: 8px 12px 16px 8px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.video {
	text-align: center;
	margin-top: 20px;
	width: 100%;
	height: 540px;
}

.button {
	background-color: #2ecc71;
	border: none;
	color: #ecf0f1;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 3px 0px #2f6627;
	display: inline-block;
	font-size: 50px;
	border-radius: 4px;
	width: 100%;
	height: 100px;
	transition: all 0.5s;
}

#backButton {
	background-color: #3498db;
	border: none;
	color: #ecf0f1;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px 0px #34495e;
	display: inline-block;
	font-size: 30px;
	border-radius: 4px;
	width: 100%;
	height: 70px;
	transition: all 0.3s;
}

#backButton:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-family: Verdana, serif, sans-serif;
	font-weight: bold;
}

iframe {
	border: 0px;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

